<div class="container-fluid" style="margin-top: 18%">
    <div class="container text-center">
        <h1 i18n="@@thankYouTitle">Thank you.</h1>
        <p class="lead w-lg-50 mx-auto" i18n="@@orderPlacedMessage">Your order has been placed successfully.</p>
        <p class="w-lg-50 mx-auto" i18n="@@orderNumberMessage">Your order number is <a href="#">9237427634826</a>. We will immediately process your and it will be delivered in 2 - 5 business days.</p>
        <button type="button" class="btn btn-success" (click)="goBackToHome()" i18n="@@goBackButton">Go back to home</button>
    </div>
</div>

