<router-outlet></router-outlet>
  <script>
    window.LOKALISE_CONFIG = {
    projectId: '74655365660e491ee98362.71303076',
    locale: 'de_DE',
    usePanelOffset: true,
    onSave: function (updatedTranslations, skippedTranslations, dismissedTranslations, errorMessage) {
        for (var i = 0; i < updatedTranslations.length; i++) {
            $.ajax({
                type: 'POST',
                url: '/ajax/translations/update',
                data: {
                    'key': updatedTranslations[i].key,
                    'translation': updatedTranslations[i].translation,
                    'locale': updatedTranslations[i].locale
                },
                success: function (response) {
                    console.info('Translation updated', response);
                }
            });
        }
    }
};
</script>
